body {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;
    color: #fff;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.control > p {
    margin-right: 10px;
    
}

@font-face {
    font-family: 'Geologica';
    src: url('fonts/static/Geologica-Regular.ttf') format('truetype'),
         url('fonts/static/Geologica-Bold.ttf') format('truetype');
}


h3 {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Geologica', sans-serif;
    font-weight: normal; /* Assuming Geologica-Regular is normal weight */
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 37.5px;
    height: 18.75px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input:checked[type="checkbox"] {
    background: #7da6ff;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 18.75px;
    height: 18.75px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 50%;
}